.homeContainer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.image-container{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/homeBG/flight.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }