.nav{
    margin: 0px;
    position: relative;
    top: 12px;
    /* z-index: 1; */
    background: transparent;
    box-shadow: 0 1px 0 rgb(251, 11, 11);
}

#logo{
    position: absolute;
    left: 23px;
    width: 60px;
    margin-top: 0.5vw;
}

.nav > p{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    color: chartreuse;
    text-shadow: 0px 0px 10px 0px rgba(253, 243, 243, 0.90);
    font-size: 2vw;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 900;
}
.nav_buttons{
    position: absolute;
    top: 1vw;
    right: 15vw;
    display: flex;
    flex-direction: row;
    width: max-content;
    font-size: 1.5rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
}

.register{
    position: absolute;
    right: 2vw;
    top: 0.5vw;
    background-color: chartreuse;
    border-radius: 12px;
    color: white;
}

.burgerMenu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

.openlake{
    position: absolute;
    top: 1vw;
    left: 7vw;
}

.home{
    position: relative;
    margin-right: 20px;
    color: #FFF;
    text-shadow: 0px 0px 10px 0px rgba(253, 243, 243, 0.90);
    font-weight: 800;   
}

.about{
    position: relative;
    margin-right: 20px;
    color: #FFF;
    text-shadow: 0px 0px 10px 0px rgba(253, 243, 243, 0.90);
    font-weight: 800;
}

.services{
    position: relative;
    margin-right: 20px;
    color: #FFF;
    text-shadow: 0px 0px 10px 0px rgba(253, 243, 243, 0.90);
    font-weight: 800;
}

.packages{
    position: relative;
    margin-right: 20px;
    color: #FFF;
    text-shadow: 0px 0px 10px 0px rgba(253, 243, 243, 0.90);
    font-weight: 800;
}

.contact{
    position: relative;
    color: #FFF;
    text-shadow: 0px 0px 10px 0px rgba(253, 243, 243, 0.90);
    font-weight: 800;
}

.home:hover,.services:hover,.contact:hover,.packages:hover,.about:hover{
    color: chartreuse;
}


@media (max-width:1000px){
    .nav_buttons > p,.openlake p{
        font-size:1.1rem;
    }

    .nav_buttons >p{
        right: -1vw;
    }    
}

@media (max-width:966px){
    .nav_buttons{
        right:1vw;
    }
}




@media (max-width:780px){
    #logo{
        position: absolute;
        visibility: visible;
        top: 44%;
    }

    .openlake p{
        font-size: 2vw;
    }
}

@media (max-width:655px){
    .nav{
        display: none;
    }

    div {
        -webkit-tap-highlight-color: transparent;
        -moz-tap-highlight-color: transparent;
        -ms-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
      }
      
    
    .burgerMenu{
        position: absolute;
        display: block;
        float: right;
        right: 0vw;
        top: -2vw;
    }

    .burgerMenu.open{
        transform: rotate(90deg);
    }

    #logo{
        width: 70px;
        display: flex;
        left: -35vw;
        top: 0;
    }

    .openlake{
        position: relative;
        display: flex;
        left: -33vw;
        top: -15px;
        font-size: 1.3rem !important;
    }

    .navContainer{
        top: -15%;
        transition: transform 0.3s ease;
        background: black;
    }

    .navContainer.show{
        position:sticky;
        z-index:3;
        width: 100vw;
        background: linear-gradient(180deg, #10244D 18.35%, #0896CD 100%);;
        height: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 15px;
        top: 0;
        transform: translateY(10px);
    }

    .nav.show{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:10px 0;
        opacity: 1;
        /* justify-content: center; */
    }




    .nav_buttons p {
        margin:37px 0;
        cursor: pointer;
        font-size: 1.3rem ;
      }
    
    /* .nav_buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */

      /* .openlake {
        display: none;
        position: absolute;
        padding-bottom: 50px;
        font-size: 1.3rem;
    } */
}

@media (max-width:557px){
    .navContainer.show{
        height:95vw;
    }
     
    .nav_buttons p ,.openlake{
        font-size: 1.1rem !important;
    }

    #logo{
        left: -37vw;
    }

}

@media (max-width:480px){
    .burgerMenu{
        width: 90px;
    }

    .openlake{
        left: -30vw;
    }
}

@media (max-width:462px){
    .navContainer.show{
        height:100vw;
    }

    #logo{
        width: 58px;
        left: -34vw;
        top: 4%;
    }

}

@media (max-width:444px){
    .navContainer.show{
        height:105vw;
    }
}

@media (max-width:420px){
    .navContainer.show{
        height:110vw;
    }
}

@media (max-width:385px){
    .navContainer.show{
        height:112vw;
    }

    .nav_buttons p{
        font-size: 1rem;
        margin: 34px 0;
    }

    .openlake{
        visibility: hidden;
    }
}

@media (max-width:369px){
    .navContainer.show{
        height:114vw;
    }
}

@media (max-width:350px){
    .navContainer.show{
        height:116vw;
    }

    .nav_buttons p{margin: 30px 0;}

    #logo{
        left: -32vw;
    }
}

@media (max-width:325px){
    .navContainer.show{
        height:118vw;
    }

    .nav_buttons p{margin: 27px 0;}
}

@media (max-width:303px){
    .navContainer.show{
        height:120vw;
    }

    .nav_buttons p{margin: 25px 0;}

    #logo{
        left: -30vw;
    }
}

@media (max-width:280px){
    .navContainer.show{
        height:122vw;
    }

    .nav_buttons p{margin: 23px 0;}
}